{% extends 'base.html.twig' %}

{% block title %}Groupe{% endblock %}

{% block body %}
    <h1>Groupe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ groupe.id }}</td>
            </tr>
            <tr>
                <th>Nomgroupe</th>
                <td>{{ groupe.nomgroupe }}</td>
            </tr>
            <tr>
                <th>Nbrpersonnes</th>
                <td>{{ groupe.nbrpersonnes }}</td>
            </tr>
            <tr>
                <th>Nompays</th>
                <td>{{ groupe.nompays }}</td>
            </tr>
            <tr>
                <th>Responsable</th>
                <td>{{ groupe.responsable }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_groupe_index') }}">back to list</a>

    <a href="{{ path('app_groupe_edit', {'id': groupe.id}) }}">edit</a>

    {{ include('groupe/_delete_form.html.twig') }}
{% endblock %}
